<%- include("upper") -%>
<title>Update Book</title>
<%- include("middle") -%>

    <div class="jumbotron">
      <div class="home-box">


  <h1 class="display-4">Book List</h1>
  <p class="lead">Made By Charles R. Ausejo Jr</p>
  <hr class="my-4">
  <p>Made to keep track of the books that I have been reading.</p>

  <form class="" action="/bookview" method="get">
      <a class="btn btn-dark btn-lg" href="bookview" role="button">Proceed to booklist</a>
  </form>
</div>
</div>

<%- include("lower") -%>
